FLASK_CONFIG=development
FLASK_APP=run.py
SECRET_KEY=abdcefghjklmnopqrstuvwxyz

# Database Connection - MySQL
DEV_DATABASE_URL=mysql+pymysql://root:@localhost/petshop_dev?charset=utf8mb4
TEST_DATABASE_URL=mysql+pymysql://root:@localhost/petshop_test?charset=utf8mb4
DATABASE_URL=mysql+pymysql://root:@localhost/petshop?charset=utf8mb4

# Database Connection - SQLite
SQLITE_DATABASE_URL=sqlite:///petshop.sqlite
SQLITE_TEST_DATABASE_URL=sqlite:///petshop_test.sqlite


TIMEZONE=Asia/Ho_Chi_Minh

# Email Settings
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com

# VNPay Settings
VNPAY_TMN_CODE=your-merchant-code
VNPAY_HASH_SECRET=your-hash-secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# Session Settings
SESSION_TIMEOUT=86400

DEBUG=True